# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [33]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [34]:
series1 = pd.Series(np.random.randint(1, 4, 100))
series2 = pd.Series(np.random.randint(1, 3, 100))
series3 = pd.Series(np.random.randint(10000, 30000, 100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [35]:
df = pd.concat([series1, series2, series3], axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [36]:
df = df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'})

df = pd.DataFrame({
    'bedrs': series1,
    'bathrs': series2,
    'price_sqr_meter': series3
})

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [37]:
bigcolumn = pd.concat([series1, series2, series3])

In [38]:
bigcolumn

0         2
1         1
2         2
3         2
4         3
      ...
95    15654
96    15281
97    13196
98    14943
99    26042
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [39]:
len(bigcolumn) == 99

False

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [40]:
bigcolumn = bigcolumn.reset_index(drop=True)

In [41]:
bigcolumn.tail()

295    15654
296    15281
297    13196
298    14943
299    26042
dtype: int32