# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [67]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [68]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',
                   header=None)

In [69]:
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [70]:
wine = wine.drop(wine.columns[[0, 3, 6, 8, 10, 12, 13]], axis=1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [71]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins',
                'hue']

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [72]:
wine.iloc[0:3, wine.columns.get_loc('alcohol')] = np.nan

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [73]:
wine.loc[2:3, 'magnesium'] = np.nan

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [74]:
wine['alcohol'] = wine['alcohol'].fillna(10)

In [75]:
wine['magnesium'] = wine['magnesium'].fillna(100)

### Step 9. Count the number of missing values

In [76]:
wine.isnull().values.sum()

0

### Step 10.  Create an array of 10 random numbers up until 10

In [77]:
random = np.random.randint(10, size=10)

In [78]:
random

array([7, 4, 8, 5, 9, 0, 5, 2, 9, 2])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [79]:
wine.iloc[random] = np.nan

### Step 12.  How many missing values do we have?

In [80]:
wine.isnull().values.sum()

49

### Step 13. Delete the rows that contain missing values

In [81]:
wine = wine.dropna(how='any')

### Step 14. Print only the non-null values in alcohol

In [82]:
wine.loc[wine['alcohol'].notnull(), 'alcohol']

1      10.00
3      14.37
6      14.39
10     14.10
11     14.12
       ...
173    13.71
174    13.40
175    13.27
176    13.17
177    14.13
Name: alcohol, Length: 171, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [83]:
wine = wine.reset_index()

In [84]:
wine.head()

,index,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
1,3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
2,6,14.39,1.87,14.6,96.0,2.52,1.98,1.02
3,10,14.10,2.16,18.0,105.0,3.32,2.38,1.25
4,11,14.12,1.48,16.8,95.0,2.43,1.57,1.17