# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import datetime as dt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called df

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com' +
                 '/datasets/investor-flow-of-funds-us/master/data/weekly.csv')

In [3]:
df.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

### Step 4.  What is the frequency of the dataset?

In [4]:
len(df)

44

### Step 5. Set the column Date as the index.

In [6]:
df = df.set_index('Date')

### Step 6. What is the type of the index?

In [7]:
type(df.index)

pandas.core.indexes.base.Index

### Step 7. Set the index to a DatetimeIndex type

In [8]:
df.index = pd.to_datetime(df.index)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [11]:
monthly = df.resample('M').sum()

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [20]:
monthly = monthly[(monthly != 0).all(axis=1)]

In [23]:
monthly.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-01-31,3661,-1627,5288,2730,12149,9414,2735,18540
2014-04-30,10842,1048,9794,4931,8493,7193,1300,24267
2014-05-31,-2203,-8720,6518,3172,13767,10192,3576,14736
2014-06-30,2319,-6546,8865,4588,9715,7551,2163,16621

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [21]:
yearly = monthly.resample('Y').sum()

In [22]:
yearly.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2012-12-31,-26156,-23126,-3031,526,9848,12613,-2765,-15782
2013-12-31,3661,-1627,5288,2730,12149,9414,2735,18540
2014-12-31,330,-44689,45021,19570,59890,44994,14896,79787
2015-12-31,15049,-10459,25508,7280,26028,17986,8041,48357