# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [150]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', '\t')

### Step 4. See the first 10 entries

In [7]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1

len(chipo)

4622

In [13]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [14]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [19]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [37]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [95]:
grouped_item = chipo.groupby('item_name').sum()
grouped_sum = grouped_item[grouped_item['quantity'] == max(grouped_item['quantity'])]
grouped_sum

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [103]:
grouped_sum.iloc[0, 1]

761

### Step 11. What was the most ordered item in the choice_description column?

In [115]:
grouped_choice = chipo.groupby('choice_description').sum()
grouped_choice['quantity'].idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [106]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [140]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [144]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [151]:
# chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo['item_price'] = chipo['item_price'].str[1:].astype(float)

#### Step 13.c. Check the item price type

In [152]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [158]:
print(f"Revenue is ${(chipo['item_price'] * chipo['quantity']).sum()}")

Revenue is $39237.02

### Step 15. How many orders were made in the period?

In [196]:
chipo['order_id'].value_counts().count()

926     23
1483    14
205     12
691     11
1786    11
        ..
105      1
702      1
718      1
568      1
800      1
Name: order_id, Length: 1834, dtype: int64

### Step 16. What is the average revenue amount per order?

In [191]:
# Solution 1

chipo['revenue'] = chipo['item_price'] * chipo['quantity']
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [200]:
# Solution 2

chipo.groupby('order_id').sum()['revenue'].mean()

21.394231188658654

### Step 17. How many different items are sold?

In [195]:
len(chipo['item_name'].unique())

50