# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [32]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [2]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [3]:
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

In [4]:
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)',
                'petal_width (in cm)', 'class']

In [5]:
iris.columns

Index(['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)',
       'petal_width (in cm)', 'class'],
      dtype='object')

### Step 5.  Is there any missing value in the dataframe?

In [21]:
iris.isnull().values.any()

False

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [27]:
iris.columns.get_loc('petal_length (in cm)')

2

In [33]:
iris.iloc[10:30, iris.columns.get_loc('petal_length (in cm)')] = np.nan

### Step 7. Good, now lets substitute the NaN values to 1.0

In [37]:
iris = iris.fillna(1.0)

### Step 8. Now let's delete the column class

In [39]:
iris = iris.drop(columns = 'class')

### Step 9.  Set the first 3 rows as NaN

In [41]:
iris.iloc[:3] = np.nan

### Step 10.  Delete the rows that have NaN

In [61]:
iris = iris[iris.notnull().all(axis=1)]

In [ ]:
# iris = iris.dropna(how='any')

### Step 11. Reset the index so it begins with 0 again

In [64]:
iris = iris.reset_index()